.btn-star {
  background-color: rgba(255, 255, 255, 0);
  border: none;
}
.text-warning-stars button i {
  color: rgb(255, 208, 1);
}
body {
  min-height: 100vh;
  background: linear-gradient(
    0deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(52, 31, 4, 1) 49%,
    rgba(0, 7, 13, 1) 100%,
    rgba(0, 212, 255, 1) 100%
  );
}
