.container {
  min-height: 100vh;
}
button {
  border: 0px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 100px;
  width: 120px;
  background-color: white;
}
#button-1 {
  background-image: url(images/tom1.png);
}
#button-2 {
  background-image: url(images/tom2.png);
}
#button-3 {
  background-image: url(images/tom3.png);
}
#button-4 {
  background-image: url(images/tom4.png);
}
#button-5 {
  background-image: url(images/kick.png);
}
#button-6 {
  background-image: url(images/snare.png);
}
#button-7 {
  background-image: url(images/crash.png);
}
